<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Encabezado Común</h1>
        <!-- Barra de navegación u otros elementos comunes -->
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>Pie de Página Común</p>
    </footer>
</body>
</html>
